	/* Basic reset */
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		font-family: Arial, sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.content {
		margin-top: 60px;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		
	}

	h1 {
		font-size: 32px;
		margin-bottom: 20px;
	}

	p {
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: 15px;
	}

	#selection-area {
		width: 300px;
		height: 300px;
		background-color: #f0f0f0;
		border: 1px solid #ddd;
		margin-top: 20px;
	}
	
	.participant {
		position: absolute;
		width: 30px;
		height: 30px;
		border-radius: 50%;
	}

	.participant:before {
		content: '';
		position: absolute;
		top: -10px;
		left: -10px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: rgba(0, 0, 0, 0.2);
	}



	/* Navbar container */
	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #333;
		padding: 10px 20px;
		z-index: 1;
	}

	/* Flex container for navbar */
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	/* Logo */
	.logo {
		color: #fff;
		font-size: 24px;
		font-weight: bold;
		text-decoration: none;
	}

	/* Navbar links */
	.nav-links {
		display: flex;
		list-style-type: none;
	}

	.nav-links li {
		margin: 0 15px;
	}

	.nav-links a {
		color: #fff;
		text-decoration: none;
		font-size: 18px;
	}

	.nav-links a:hover {
		color: #ddd;
	}

	/* Active page styling */
	.nav-links a.active {
		color: #4CAF50; /* Highlight color for active link */
		font-weight: bold;
	}

	/* Hamburger menu for mobile */
	.hamburger {
		display: none;
		cursor: pointer;
		font-size: 24px;
		color: #fff;
	}

	/* Hamburger line styles (three bars) */
	.hamburger span {
		display: block;
		width: 25px;
		height: 3px;
		background-color: #fff;
		margin: 5px;
		transition: 0.4s ease-in-out;
	}

	/* Responsive Styles */
	@media (max-width: 768px) {
		.nav-links {
			display: none;
			flex-direction: column;
			width: 100%;
			text-align: center;
			background-color: #333;
		}

		.nav-links.active {
			display: flex;
		}

		.hamburger {
			display: block;
		}

		.nav-links li {
			margin: 10px 0;
		}
	}

	/* Animation for the X (close icon) */
	.hamburger.active span:nth-child(1) {
		transform: rotate(45deg) translate(5px, 6px);
	}

	.hamburger.active span:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active span:nth-child(3) {
		transform: rotate(-45deg) translate(5px, -6px);
	}